.annotation-bkg-cell {
  background: var(--primary90Transparent);
}

.annotation-bkg-cell-default {
	background: var(--primary90Transparent);
}

.annotation-bkg-cell-default input{
	color: transparent;
}
