:root {
/*---------------------------------------------------------------------
        COLORS
----------------------------------------------------------------------*/
  --primary: #3DDAB4;
  --primaryDark: #00B569;
  --primary90Transparent: #3ddab33b;

/*---------------------------------------------------------------------
        LOGO
----------------------------------------------------------------------*/
  --bg_app-logo: 15px 50% / 30px 30px no-repeat url(/app-resources/resources/images/budgeting.png);
  --spacing_app-logo_width: 45px;


  --color_bg_button_primary: var(--primaryDark);
  --color_bg_button_primary_hover: var(--primary);
  --color_text_edit-select-link: var(--primaryDark);


/*---------------------------------------------------------------------
        WORKFLOW
----------------------------------------------------------------------*/
  /* Header text*/
  --color_workflow-header: #505767;
    
  /* Step background and content (text, icon) colors for the 4 states*/
  /*current + current with error*/
  --color_bg_workflow_current: var(--primaryDark);
  --color_workflow_current: var(--color_text_inverted);
  --color_bg_workflow_error-current: #d1454b;

  /*active*/
  --color_bg_workflow_active: #e6edff;
  --color_workflow_active: var(--primaryDark);
  
  /*inactive*/
  --color_bg_workflow_inactive: #dde0e8;
  --color_workflow_inactive: #b0b5c2;
  
  /*error*/
  --color_bg_workflow_error: #f9e9e9;
  --color_workflow_error: #d1454b;
  
  /* Child indentation, border colors */
  --spacing_workflow-child-indent: 1rem;
  --color_workflow-item-divider: var(--primaryDark);
  
  /* Icon background, border, for non-error state */
  --color_bg_workflow-icon: #ffffff;
  --color_workflow-icon-border: var(--primaryDark);
}