/*Add logo*/
.theme-aimms header.tag-application .pages > .app-name::before {
  content: " ";
  background: url(img/budgeting.png) no-repeat center/contain;
  float: left;
  width: 30px; /*image size*/
  height: 30px; 
  margin-right: 7px; /*space between logo and tittle*/
  margin-top: -8px; /*move the logo down*/
}

.theme-aimms header.tag-application .pages > .app-name {
  margin-top: 12px; /*move tittle down to be centered in the menu area*/
}

.theme-aimms header.tag-application {
  border-bottom: 2px solid var(--primary);
}





