/*Change color of the active step*/
.workflow-panel .step-item.current {
  box-shadow: inset 0.3125rem 0 0 var(--primary);
}

/*Change color of the titles*/
.workflow-panel .step-item.active.complete .title, 
.workflow-panel .step-item.active.incomplete .title {
  color: var(--primaryDark);
}

/*Change color of the icons*/
.workflow-panel .step-item.active.complete .icon, 
.workflow-panel .step-item.active.incomplete .icon {
  color: var(--primaryDark);
}