:root {
/*---------------------------------------------------------------------
        COLORS
----------------------------------------------------------------------*/
  --primary: #3DDAB4;
  --primaryDark: #00B569;
  --primaryDarker: #005331;
  --primary90Transparent: #3ddab33b;
  --gray: #E8EAEC;
  --grayDarker: #d6d9da;

/*---------------------------------------------------------------------
        HEADER
----------------------------------------------------------------------*/  
  --bg_app-logo: 15px 50% / 30px 30px no-repeat url(/app-resources/resources/images/budgeting.png); /*app logo*/
  --spacing_app-logo_width: 45px;
  --color_border_app-header-divider: var(--primaryDark); /*line color after header*/
  --color_bg_app-canvas: url(/app-resources/resources/images/RightBackground.png) rgb(249, 249, 249) no-repeat left/contain; /*background color*/
  --border_widget-header: 1px solid var(--primaryDark); /*line color after widget header*/

/*---------------------------------------------------------------------
        BUTTONS
----------------------------------------------------------------------*/
  --color_bg_button_primary: var(--primaryDark);
  --color_bg_button_primary_hover: var(--primaryDarker);
  --border_button_secondary_hover: 1px solid var(--primaryDark);
  --color_text_button_secondary_hover: white;
  --color_bg_button_secondary_hover: var(--primaryDark);
  --color_text_button_secondary: var(--primaryDark);
  --border_button_secondary: 1px solid var(--primaryDark);  
  --color_bg_icon_widget-header-actions_hover: var(--color_text_default);


/*---------------------------------------------------------------------
        FONT COLOR
----------------------------------------------------------------------*/ 
  --color_text_edit-select-link: var(--primaryDarker);
  --color_text_edit-select-link_hover: var(--primary);
  --color_text_widget-header: var(--color_text_default); 
  --color_text_default: #02140d;
  --color_text_workflow_header: var(--color_text_default);
  --color_text_high-contrast: var(--color_text_default);

/*---------------------------------------------------------------------
        WORKFLOW
----------------------------------------------------------------------*/
--color_bg_workflow : white; /*workflow background color*/
--color_bg_workflow_current : var(--primaryDark); /*workflow active step color*/
--color_border-divider_light: 0px var(--primaryDark); /*divider line color*/
--color_workflow-icon-border: var(--primaryDark); /*workflow icon border color*/
--color_bg_workflow-icon: var(--gray); /*workflow icon background color*/
--color_workflow_active: var(--color_text_default);
--color_workflow-item-divider: var(--grayDarker); /*color between steps*/

/*---------------------------------------------------------------------
        SIDE PANEL
----------------------------------------------------------------------*/
--color_bg_sidepanel-tab_active: var(--primaryDarker); /*side panel active tab background color*/
--color_bg_sidepanel-tab_hover: var(--primary90Transparent); /*side panel hover tab background color*/


}
